/*Page Container*/

.page-container
{
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

/*Page Author*/

.page-container .page-author
{
	width: 25vw;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: black;
}

.page-container .page-author .page-author-container
{
	padding-top: 30%;
	background-color: black;
}

.page-container .page-author .page-author-container .author-img
{
	width: 50%;
	height: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100%;
}

.page-container .page-author .page-author-container .author-info
{
	font-size: 2vw;
	text-align: center;
}

.page-container .page-author .page-author-container .author-contact
{

}

.page-container .page-author .page-author-container .author-contact .contact-list
{

}

.page-container .page-author .page-author-container .author-contact .contact-list .contact-list-item
{
	display: inline;
	list-style-type: none;
}

.page-container .page-author .page-author-container .author-contact .contact-list .contact-list-item .contact-img
{
	width: 15%;
	height: 15%;
	border-radius: 100%;
}

/*Page Main*/

.page-container .page-main
{
	width: 75vw;
	height: 100%;
	position: absolute;
	top: 0;
	left: 25vw;
	margin: 0px;
	padding: 0px;
	background-color: #181818;
	float: right;
}

.page-container .page-main .page-home-btn
{
	padding: 0;
	margin: 0;
}

.page-container .page-main .page-home-btn .home-btn
{
	font-size: 1.5vw;
	background-color: #181818;
	border: 0;
}

.page-container .page-main .page-home-btn .home-btn:hover
{
	cursor: pointer;
}

.page-container .page-main .page-home-container
{
	
}

.page-container .page-main .page-home-container .home-title
{
	font-size: 5vw;
	text-align: center;
}

.page-container .page-main .page-home-container .home-post-list
{
	
}

.page-container .page-main .page-home-container .home-post-list .post-list
{
	
}

.page-container .page-main .page-home-container .home-post-list .post-list .post-item
{
	font-size: 1.75vw;
}

.page-container .page-main .page-home-container .home-post-list .post-list .post-item a
{
	text-decoration: none;
}

.page-container .page-main .page-post-container
{
	padding-top: 4vh;
}

.page-container .page-main .page-post-container .post-title
{
	font-size: 3vw;
	text-align: center;
}

.page-container .page-main .page-post-container .post-text
{
	font-size: 1.5vw;
	text-align: center;
}

.page-container .page-main .page-post-container .list-container
{

}

.page-container .page-main .page-post-container .list-container .list
{

}

.page-container .page-main .page-post-container .list-container .list-item
{

}

.page-container .page-main .page-post-container .list-container .list-item a
{
	text-decoration: none;
	font-size: 1.5vw;
}

/*Global*/

.color-white
{
	color: white;
}

.color-red
{
	color: red;
}

.font-default
{
	font-family: Consolas, Roboto, Arial;
}

.font-post
{
	font-family: Helvetica, Roboto, Arial;
}

/*Animations*/

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}

/*HTML*/

body
{
	background-color: black;
}